
django
djangorestframework
django-cors-headers
gunicorn


psycopg2-binary


celery
redis

pdf2image
unidecode
mineru 

python-dotenv
Pygments
torch>=2.4.0
torchvision>=0.19.0
doclayout-yolo
ultralytics
transformers
ftfy
shapely
pyclipper
omegaconf
requests